<section>
    <h1 class="page-title">Proiezioni</h1>
    @if(!isOperatore()){
    <p class="page-subtitle">
        Visualizza le proiezioni del cinema e acquista i biglietti.
    </p>
    }
    @else{
    <p class="page-subtitle">
        Visualizza e gestisci le proiezioni del cinema.
    </p>
    }

    @if (messaggioErrore()) {
    <div class="alert alert-warning">
        {{ messaggioErrore() }}
    </div>
    }

    @if (messaggioSuccesso()) {
    <div class="alert alert-success">
        {{ messaggioSuccesso() }}
    </div>
    }

    <div class="grid grid-2">

        <article class="card">
            <h2>Lista Proiezioni</h2>

            @if (staCaricando()) {
            <p class="muted">Caricamento in corso...</p>

            } @else if (listaProiezioni().length === 0) {

            <p class="muted">Nessuna proiezione disponibile.</p>

            } @else {

            <div class="list">

                @for (item of listaProiezioni(); track item.id) {

                <div class="list-item">

                    <div>
                        <strong>{{ item.titoloMovie }}</strong>

                        <p>{{ item.dataProiezione | date:'dd/MM/yyyy' }}</p>
                        <p>Sala: {{ item.nomeSala }}</p>
                        <p>Turno: {{ item.nomeTurno }}</p>
                    </div>
                    @if(!isGestore() && !isOperatore()){

                    <div class="btn-row">

                        <input type="number" min="1" class="form-control" [(ngModel)]="quantitaSelezionata[item.id]" />

                        <button class="btn btn-secondary" type="button" (click)="acquista(item.id)">
                            Acquista
                        </button>

                    </div>
                    }
                    @if(isOperatore()){
                                <div class="btn-row">
                                    <button class="btn btn-secondary" type="button"> Crea</button>
                                    <button class="btn btn-secondary" type="button"> Modifica</button>
                                    <button class="btn btn-secondary" type="button" (click)="elimina(item)"> Elimina</button>
                                </div>
                            }
                </div>

                }

            </div>

            }

        </article>

    </div>

</section>