<header class="navbar-shell">
  <div class="container navbar">
    @if(!isAutenticato()){
    <a routerLink="/proiezioni" class="brand">Nuovo cinema Paradiso</a>
    <div class="btn-row">
      <a class="btn btn-secondary" routerLink="/film">Film</a>
    </div>

    <nav class="links">
      <div class="btn-row">
        <a class="btn btn-secondary" routerLink="/login">Login</a>
      </div>
      <div class="btn-row">
        <a class="btn btn-secondary" routerLink="/register">Registrati</a>
      </div>
    </nav>
    }

    @if (isAutenticato()) {
    <nav class="links">
      <a routerLink="/proiezioni" class="brand">Nuovo cinema Paradiso</a>
      <div class="btn-row">
        <a class="btn btn-secondary" routerLink="/film">Film</a>
      </div>
      <div class="btn-row">
        <a class="btn btn-secondary" routerLink="/proiezioni">Proiezioni</a>
      </div>
      <div class="btn-row">
        <a class="btn btn-secondary" routerLink="/abbonamenti">Abbonamenti</a>
      </div>
      <div class="btn-row">
        <a class="btn btn-secondary" routerLink="/Profilo">Profilo</a>
      </div>
      <div>
        <strong>{{ utente()?.ruolo }}</strong>
        <div class="muted small">{{ utente()?.email }}</div>
      </div>
      <div class="user-box">
        <button class="btn btn-secondary" type="button" (click)="logout()">Logout</button>
      </div>
    </nav>

  }
  </div>
</header>